{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur</h1>

    <h4><strong>La page que vous cherchez n'a pas été trouvée.</strong> </h4>
{% endblock %}